    /*
    Flaticon icon font: Flaticon
    Creation date: 17/01/2017 20:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-about:before { content: "\f100"; }
.flaticon-cross-01:before { content: "\f101"; }
.flaticon-cross-02:before { content: "\f102"; }
.flaticon-cross-03:before { content: "\f103"; }
.flaticon-home-01:before { content: "\f104"; }
.flaticon-home-02:before { content: "\f105"; }
.flaticon-home-03:before { content: "\f106"; }
.flaticon-home-04:before { content: "\f107"; }
.flaticon-home-05:before { content: "\f108"; }
.flaticon-skill:before { content: "\f109"; }
.flaticon-social-flickr:before { content: "\f10a"; }
.flaticon-social-github:before { content: "\f10b"; }
.flaticon-social-linkedin:before { content: "\f10c"; }
.flaticon-social-twitter-01:before { content: "\f10d"; }
.flaticon-social-twitter-02:before { content: "\f10e"; }
.flaticon-work:before { content: "\f10f"; }
    
    $font-Flaticon-about: "\f100";
    $font-Flaticon-cross-01: "\f101";
    $font-Flaticon-cross-02: "\f102";
    $font-Flaticon-cross-03: "\f103";
    $font-Flaticon-home-01: "\f104";
    $font-Flaticon-home-02: "\f105";
    $font-Flaticon-home-03: "\f106";
    $font-Flaticon-home-04: "\f107";
    $font-Flaticon-home-05: "\f108";
    $font-Flaticon-skill: "\f109";
    $font-Flaticon-social-flickr: "\f10a";
    $font-Flaticon-social-github: "\f10b";
    $font-Flaticon-social-linkedin: "\f10c";
    $font-Flaticon-social-twitter-01: "\f10d";
    $font-Flaticon-social-twitter-02: "\f10e";
    $font-Flaticon-work: "\f10f";