
/* Mosk */

@font-face {
	font-family: 'Mosk Normal 400';
	src: url('mosk/MoskNormal400.eot');
	src: url('mosk/MoskNormal400.eot?#iefix') format('embedded-opentype'),
		url('mosk/MoskNormal400.woff') format('woff'),
		url('mosk/MoskNormal400.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mosk Thin 100';
	src: url('mosk/MoskThin100.eot');
	src: url('mosk/MoskThin100.eot?#iefix') format('embedded-opentype'),
		url('mosk/MoskThin100.woff') format('woff'),
		url('mosk/MoskThin100.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Mosk Extra-Light 200';
	src: url('mosk/MoskExtra-Light200.eot');
	src: url('mosk/MoskExtra-Light200.eot?#iefix') format('embedded-opentype'),
		url('mosk/MoskExtra-Light200.woff') format('woff'),
		url('mosk/MoskExtra-Light200.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Mosk Medium 500';
	src: url('mosk/MoskMedium500.eot');
	src: url('mosk/MoskMedium500.eot?#iefix') format('embedded-opentype'),
		url('mosk/MoskMedium500.woff') format('woff'),
		url('mosk/MoskMedium500.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Mosk Extra-Bold 800';
	src: url('mosk/MoskExtra-Bold800.eot');
	src: url('mosk/MoskExtra-Bold800.eot?#iefix') format('embedded-opentype'),
		url('mosk/MoskExtra-Bold800.woff') format('woff'),
		url('mosk/MoskExtra-Bold800.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Mosk Semi-Bold 600';
	src: url('mosk/MoskSemi-Bold600.eot');
	src: url('mosk/MoskSemi-Bold600.eot?#iefix') format('embedded-opentype'),
		url('mosk/MoskSemi-Bold600.woff') format('woff'),
		url('mosk/MoskSemi-Bold600.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Mosk Light 300';
	src: url('mosk/MoskLight300.eot');
	src: url('mosk/MoskLight300.eot?#iefix') format('embedded-opentype'),
		url('mosk/MoskLight300.woff') format('woff'),
		url('mosk/MoskLight300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Mosk Ultra-Bold 900';
	src: url('mosk/MoskUltra-Bold900.eot');
	src: url('mosk/MoskUltra-Bold900.eot?#iefix') format('embedded-opentype'),
		url('mosk/MoskUltra-Bold900.woff') format('woff'),
		url('mosk/MoskUltra-Bold900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Mosk Bold 700';
	src: url('mosk/MoskBold700.eot');
	src: url('mosk/MoskBold700.eot?#iefix') format('embedded-opentype'),
		url('mosk/MoskBold700.woff') format('woff'),
		url('mosk/MoskBold700.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
